In [1]:
from collections import defaultdict; import pandas as pd; import numpy as np
import surprise

In [2]:
data = surprise.Dataset.load_builtin('ml-100k') # 내장된 영화평 data가 있음
df = pd.DataFrame(data.raw_ratings, columns = ['user', 'item', 'rate', 'id'])
df.head() # 아까 썼던 거랑 같은 양식!

  user item  rate         id
0  196  242   3.0  881250949
1  186  302   3.0  891717742
2   22  377   1.0  878887116
3  244   51   2.0  880606923
4  166  346   1.0  886397596

In [3]:
trainset = data.build_full_trainset() # test-train split
testset = trainset.build_anti_testset()

In [4]:
algo = surprise.SVD() # SVD
algo.train(trainset)
predictions = algo.test(testset)
surprise.accuracy.rmse(predictions)

C:\ProgramData\Anaconda3\lib\site-packages\surprise\prediction_algorithms\algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

RMSE: 0.6058

0.6057676004606243

In [ ]:
algo2 = surprise.KNNWithMeans(name = 'cosine', user_based = True) #KNN with Means(가중평균합 방식)
algo2.train(trainset)
predictions2 = algo2.test(testset)
surprise.accuracy.rmse(predictions2)

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.7799

0.7799284532595803

In [ ]:
surprise.evaluate(algo, data) # Cross Validation을 할 수 있음

Evaluating RMSE, MAE of algorithm SVD.

C:\ProgramData\Anaconda3\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
RMSE: 0.9397
MAE:  0.7425
------------
Fold 2
RMSE: 0.9355
MAE:  0.7365
------------
Fold 3
RMSE: 0.9348
MAE:  0.7374
------------
Fold 4
RMSE: 0.9379
MAE:  0.7384
------------
Fold 5
RMSE: 0.9369
MAE:  0.7386
------------
------------
Mean RMSE: 0.9370
Mean MAE : 0.7387
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9396843666303828,
                             0.9355071540694035,
                             0.9347828215326919,
                             0.9379323995243565,
                             0.936901501430931],
                            'mae': [0.7424521506723253,
                             0.7364829784977739,
                             0.7374118487976619,
                             0.7384162689720511,
                             0.7385861623977351]})

In [ ]:
surprise.evaluate(algo2, data)

Evaluating RMSE, MAE of algorithm KNNWithMeans.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9521
MAE:  0.7511
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9512
MAE:  0.7489
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9466
MAE:  0.7462
------------
Fold 4
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9534
MAE:  0.7507
------------
Fold 5
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9495
MAE:  0.7484
------------
------------
Mean RMSE: 0.9506
Mean MAE : 0.7490
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9521417781386202,
                             0.9511896385978245,
                             0.9465647851482902,
                             0.9533674978961881,
                             0.9495299903873524],
                            'mae': [0.7510689270788986,
                             0.7489268295485094,
                             0.7461630566693952,
                             0.750665450893031,
                             0.7483532738502443]})

In [ ]:
def get_top_n(predictions, n=10): # 유저별 추천 상위 10개 영화를 추출하는 함수
    top_n = defaultdict(list)

    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est)) # 유저별로 (영화 id, 예상 평점) 튜플들이 들어있는 리스트를 할당한 뒤
        
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=1) # 평점 역순으로 sorting
        top_n[uid] = user_ratings[:

    return top_n

get_top_n(predictions)